<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>SimpLISTic</title>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>SimpLISTic</h1>
        <table class="table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Due Date</th>
                    <th>Date Last Performed</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% items.forEach(item => { %>
                    <tr>
                        <td><%= item.name %> </td>
                        <td><%= item.dueDate %> </td>
                        <td><%= item.dateLastPerformed %></td>
                        <td><form action="/notes/<%= item._id %>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete" class="btn btn-primary btn-sm">
                        </form></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>